body {
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    padding: 20px;
  }
  
  header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background-color: #40513B;
    padding-top: 0vh;
    width: 100%;
  }

  .head_text h1{
    text-decoration: none;
    color: white;
  }
  
  .head_text h1,.head_text:hover{
    color: white;
    border: none;
    padding: 0 0 0 0;
    border-radius: 8px;
    background-color: transparent;
    font-family: 'DM Sans';
    cursor: pointer;
    text-decoration: none;
  }
  
  .head_text a{
    text-decoration: none;
    color: white;
  }
  
  .Header h1{
    padding-left: 50px;
    padding-top: 0px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .icon{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans',sans-serif;
  }
  
  :root{
    color: #40513B;
  }

  a{
    color: white;
    text-align: right;
   
  }
  
  a:hover{
    color: black;
    transition: all .2s ease;
  }
  
  .topnav ul{
    display:flex;
    width: 450px;
  }
  
  .topnav ul li{
    position:relative;
    list-style: none;
    width: 100px;
    height: 100px;
    z-index: 1;
  }
  
  .topnav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
  }
  
  .topnav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: white;
    padding-top: 20px;
  }
  
  .topnav ul li:hover a .icon{
    transform: translateY(-25px);
  }
  
  .topnav ul li a .text{
    position: absolute;
    color: whitesmoke;
    font-weight: 400;
    font-size:0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
  }
  
  .topnav ul li:hover a .text{
    opacity: 1;
    transform: translateY(20px);
  }
  
  footer {
    background-color: #40513B;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.location-image {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    object-fit: cover;
}

.location-details {
    flex-grow: 1;
}

.location-city {
    font-size: 20px;
    font-weight: bold;
}

.location-country {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}

footer {
  background-color: #40513B;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.footer-links {
  list-style-type: none;
  margin-bottom: 5px;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}